.menu-dropdown{
    position: fixed;
    right: 0px;
    background-color: white;
    width: 40%;
    height: calc(100vh + 90px);
    z-index: 2;
    overflow: auto
}

.margin-top {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 130px;
    z-index: 3;
    background-color: white;
}

.logo-menu {
    position: fixed;
    width: 175px;
    top: 20px;
    z-index: 4;
}

.toggle-switch {
    position: fixed;
    right: 30px;
    top: 100px;
    z-index: 4;
}

.toggle-switch>button {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.menu-items {
    width: 70%;
    margin: 150px auto;
}

.menu-category {
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 500;
    border-top: 1px solid black;
  }

.menu-category:last-child {
    border-bottom: 1px solid black;
}
  
.category-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.submenu {
    list-style: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    border-top: 1px solid black;
}

.menu-item-button {
    background: none;
    border: none;
    padding: 0px;
    font-size: 15px;
    cursor: pointer;
}

.menu-item-button:hover {
    font-weight: bold;
}

@media only screen and (max-width:1024px) and (min-width: 768px) {
    .margin-top {
        height: 115px;
    }

    .menu-items {
        margin: 125px auto;
    }

    .logo-menu {
        position: fixed;
        width: 150px;
        top: 15px;
    }

    .toggle-switch {
        right: 20px;
        top: 90px;
    }
}

@media only screen and (max-width: 767px) {
    .menu-dropdown{
        width: 80%;
    }

    .margin-top {
        height: 115px;
    }

    .menu-items {
        margin: 120px auto;
    }

    .logo-menu {
        position: fixed;
        width: 150px;
    }

    .toggle-switch {
        right: 30px;
        top: 90px;
    }
}