.menu-dropdown{
    position: fixed;
    right: 0px;
    background-color: white;
    width: 40%;
    height: calc(100vh + 90px);
    z-index: 2;
    display: grid;
    place-items: center;
    overflow: auto
}

.menu-items {
    width: 85%;
}

.logo-menu {
    position: fixed;
    width: 175px;
    top: 20px;
}

.menu-category {
    position: relative;
    font-size: 20px;
    font-weight: 900;
    border-top: 2px solid black;
  }

.menu-category:last-child {
    border-bottom: 2px solid black;
}
  
.category-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.submenu {
    list-style: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    border-top: 2px solid black;
}

.menu-item-button {
    background: none;
    border: none;
    padding: 0px;
    font-size: 15px;
    cursor: pointer;
}

.menu-item-button:hover {
    font-weight: bold;
}

@media only screen and (max-width:1024px) and (min-width: 768px) {
    .menu-items {
        padding-top: 40px;
    }

    .logo-menu {
        position: fixed;
        width: 150px;
        top: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .menu-dropdown{
        width: 80%;
    }

    .menu-items {
        padding-top: 50px;
    }

    .logo-menu {
        position: fixed;
        width: 150px;
    }
}